// Common styles shared between multiple components

.layout-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-is-centered {
  justify-content: center;
}

.text-shadow {
  text-shadow: 0px 0px 8px black;
}

.drop-shadow {
  -webkit-filter: drop-shadow(0px 0px 4px black);
  filter: drop-shadow(0px 0px 4px black);
}

.bpt-link {
  @include bpt-link-default;
  &:hover,
  &:focus {
    @include bpt-link-focus;
  }
}

.forest-green {
  color: $forest-green;
}