// Styles used in different pages
// Any styles required by the markdown files in content directory should be written here

// Index page
.bpt-title {
  font-family: $title-font;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

.bpt-introduction {
  font-size: 18px;
}

.article-horizontal-rule {
  margin: 1rem 0;
}

.card-header-latest {
  background-color: $forest-green;
}

.article-footer {
  text-align-last: justify;
}

.image-background.is-transparent {
  opacity: 0.4;
  filter: grayscale(100%);
}

.image-link {
  color: white;
  &:hover,
  &:focus {
    color: yellowgreen;
  }
}

.image-link-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $title-font;
  font-weight: 500 !important;
  text-transform: uppercase;
  font-size: 2em;
  width: 100%;
}

.board-card-container {

  div.card + div.card {
    margin-top: 1rem;
  }

  .media {
    margin-bottom: 1rem !important;
  }

  .member-contact-info {
    color: $forest-green;
  }
}

// Team page
.team-member {
  &-card {
    margin: 20px 20px !important;
    width: 230px;
  }

  &-info {
    min-height: 90px;
    font-size: 19px;

    &-role {
      font-size: 16px;
    }
  }

  &-contact {
    border-top: solid 2px $forest-green;
    padding-top: 5px;
    font-size: 15px;
  }
}

// Services
.highlight-quote {
  padding: 0.75em 1.25em !important;
  max-width: 400px;
}
