// Global SCSS variables, registered via style-resources plugin

$forest-green: #154506;
$link-background-base-color: rgba(0, 151, 19, 0.1);

$body-font: 'Lora', serif;
$title-font: 'Oswald';
$mobile-breakpoint: 1023px;

$twitter-color: #4099FF;
$facebook-color: #39529a;
$instagram-color: #e02532;

$nav-bg-color: $forest-green;
$nav-brand-font: 'College Boy', 'Oswald';
$nav-item-font: 'Octin', 'Oswald';
$nav-item-parent-font-size: 18px;
$nav-item-child-font-size: 16px;
$nav-item-parent-mobile-color: white;
$nav-item-child-mobile-color: #000000;

$footer-bg-color: whitesmoke;